// Vars
//===========================================>

//font
$font-koyu: 'futurakoyu', verdana, serif ;
$font-lato: 'Lato', verdana, sans-serif; ;
$font-gothic: 'letter_gothicnormal', georgia, sans-serif ;

// Directories
$imgdir:	'/images/redesign/';

// Colors
$green:     #cccccc;
$darkblue:  #73868f;
$red:       #eb5b5b;
$yellow:    #fcc543;

//structure
$default-radius :  3px;

//breakpoints
$mobile-break: 	767px;
$tablet-break: 	970px;
$desk-break: 	992px;
$bs-break: 		1200px;
