// All mixins
//===========================================>

// Create border-radius with vendor prefixes
@mixin border-radius($i: $default-radius) {
	-webkit-border-radius: 	$i;
	-moz-border-radius: 	$i;
	-ms-border-radius: 		$i;
	border-radius: 			$i;
}
// Create css columns with vendor prefixes
@mixin columns($width:'auto', $number:'auto', $gap:'normal') {
	-webkit-columns: 		$width $number;
	-moz-columns: 			$width $number;
	columns: 				$width $number;
	-webkit-column-gap: 	$gap;
	-moz-column-gap: 		$gap;
	column-gap: 			$gap;
}
// Change opacity
@mixin opacity($i) {
  //Use whole numbers
	zoom: 			1;
	-ms-filter:		"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$i})";
	filter: 			alpha(opacity=$i);
	-moz-opacity:		$i/100;
	-khtml-opacity: 	$i/100;
	opacity: 			$i/100;
}
// box-shadow with vendor prefixes
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
// Create transition with vendor prefixes
@mixin transition($transition-property, $transition-time, $method, $delay:0s) {
    -webkit-transition: $transition-property $transition-time $method $delay;
    -moz-transition: $transition-property $transition-time $method $delay;
    -ms-transition: $transition-property $transition-time $method $delay;
    -o-transition: $transition-property $transition-time $method $delay;
    transition: $transition-property $transition-time $method $delay;
}
@mixin transform($transforms) {
  -moz-transform:     $transforms;
  -o-transform:       $transforms;
  -ms-transform:      $transforms;
  -webkit-transform:  $transforms;
  transform:          $transforms;
}
@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
  }

@mixin flexbox($pack, $align){

  display: -webkit-box;
  -webkit-box-pack: $pack;
  -webkit-box-align: $align;

  display: -moz-box;
  -moz-box-pack: $pack;
  -moz-box-align: $align;

  display:-ms-flexbox;
  -ms-flex-pack: $pack;
  -ms-flex-align: $align;

  display: -webkit-flex;
  -webkit-justify-content: $pack;
  -webkit-align-items: $align;

  display: flex;
  justify-content: $pack;
  align-items: $align;

}
