/* fonts
/*===========================================>
*/
@font-face {
  font-family: 'futurakoyu';
  src: url('font/futura_koyu-webfont.eot');
  src: url('font/futura_koyu-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/futura_koyu-webfont.woff2') format('woff2'),
  url('font/futura_koyu-webfont.woff') format('woff'),
  url('font/futura_koyu-webfont.ttf') format('truetype'),
  url('font/futura_koyu-webfont.svg#futurakoyu') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'letter_gothicnormal';
  src: url('font/letter_gothic_normal-webfont.eot');
  src: url('font/letter_gothic_normal-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/letter_gothic_normal-webfont.woff2') format('woff2'),
  url('font/letter_gothic_normal-webfont.woff') format('woff'),
  url('font/letter_gothic_normal-webfont.ttf') format('truetype'),
  url('font/letter_gothic_normal-webfont.svg#letter_gothicnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Global
/*===========================================>
*/
body,
html,
.fixed-lines {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: $font-lato;
  font-size: 14px;
  color: $darkblue;
}
.fixed-lines {
  .container {
    position: relative;
    height: 100%;
  }
}
p {
  line-height: 175%;
}
.koyu {
  font-family: $font-koyu!important;
}
.lato {
  font-family: $font-lato!important;
}
.gothic {
  font-family: $font-gothic!important;
}
.client-menu-item,
.transiton-speed {
  @include transition(all, .5s, ease-out, 0s);
}
.modal {
    z-index: 1600;
}
.modal-content {
  @include border-radius(0);
}
.modal-header {
  background-color: $green;
}
.modal-title {
  font-family: $font-koyu;
  font-size: 25px;
  color: #FFF;
}
.main-head {
  position: fixed;
  top: 32%;
  left: 0;
  right: 0;
  z-index: 1500;
  @include transform(translate(-100%,0));
  @extend .transiton-speed;
  .nav-container {
    padding-left: 0;
  }
}
.nav-container {
  ul {
    list-style:none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 0 20px 0;
    a {
      color: $darkblue;
      padding: 3px 0 0 30px;
      position: relative;
      @extend .transiton-speed;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        @extend .transiton-speed;
      }
      &:after {
        border: 3px solid $darkblue;
      }
      &:before {
        z-index: 5;
        background-color: $darkblue;
        @include transition(all, .5s, ease-out, .25s);
        @include transform(scale(1));
      }
      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
    &.active a:before {
      @include transform(scale(.5));
    }
  }
  #client-scroll {
    a {
      &:before {
        background-color: $red;
      }
      &:after {
        border-color: $red;
      }
    }
  }
  #active-scroll {
    a {
      &:before {
        background-color: $yellow;
      }
      &:after {
        border-color: $yellow;
      }
    }
  }
  #pprep-scroll {
    a {
      &:before {
        background-color: $green;
      }
      &:after {
        border-color: $green;
      }
    }
  }
  li.section-1-white,
  li.section-2-white,
  li.section-3-white, {
    a {
      color: #FFF;
    }
    &.active {
      a {
        &:after {
          border: 2px solid #FFF!important;
        }
      }
    }
  }
}

.menu-head {
  display: none;
  font-family: $font-koyu;
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 20px;
  color: $green;
  width: 100%;
  padding: 10px 0 0 0;
  border-top: 1px solid $green;
  border-bottom: 3px solid $green;
}
.hero-col,
.hero-container {
  height: 100%;
  position: relative;
}
.nav-container {
  width: 150px;
  position: fixed;
  left: 50%;
  top: 0;
  margin: 0 0 0 -584px;
}
.hero-heading {
  float: left;
  clear: both;
  margin-top: 10px;
  z-index: 100;
  position: absolute;
  &.opening-head {
    top: 330px;
    font-size: 20px;
    border-bottom: 3px solid $green;
    width: 100%;
  }
  &.opening-sub {
    top: 390px;
    font-size: 15px;
    margin-left: 5.5%;
  }
  &.opening-sub-sub {
    top: 435px;
    margin-left: 11%;
    padding-bottom: 4px;
    border-bottom: 3px solid $green;
    width: 89%;
    text-transform: capitalize;
  }
  .mobile-hide {
    display:none;
  }
}
.triangle-open {
  position: absolute;
  top:0;
  left: 0;
  z-index: 150;
  float: left;
  width: 100%;
  height: 300px;
  .triangle-img {
    display: none;
    float: right;
    width: 100%;
    height: auto;
    margin-top: -25%;
  }
  .r-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    margin: -50px 0 0 -30px;
  }
}
.special-header-red {
  position: absolute;
  top: 590px;
  left: 0;
  height: 250px;
  width: 100%;
  z-index: 125;
  background-color: $red;
}
.special-header-block {
  @extend .special-header-red;
  display: none;
  z-index: 300;
  width: initial;
}
.content-holder {
  @extend .special-header-red;
  z-index: 250;
  background-color: transparent;
  clear: both;
  float: left;
  height: auto;
}
.heading-box {
  color: #FFF;
  height: 250px;
  .heading {
    font-family: $font-koyu;
    border-bottom: 3px solid #FFF;
    font-size: 31px;
    padding-bottom: 10px;
    margin-top: 50px;
  }
}
.intro-section {
  padding-top: 10px;
}

.clients {
  padding: 40px 15px;
  .single-client {
    width: 95%;
    margin: 50px 2.5%;
  }
  .heading-row {
    text-align: center;
  }

  .client-photo {
    width: auto;
    height: 100px;
  }
  .client-link{
    color:  $darkblue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .client-title {
    font-size: 14px;
    font-family: $font-koyu;
    padding-bottom: 10px;
    border-bottom: 3px solid $darkblue;
    margin-top: 0;
  }
  .client-quote {
    font-size: 20px;
    font-family: $font-lato;
    margin: 17px 0 16px 0;
  }
  .client-person {
    font-size: 15px;
    font-family: $font-lato;
    margin: 0 0 25px 0;
  }
  .client-logo-col {
    height: 200px;
    @include flexbox(center,center)
  }

  .client-logo-col img {
    width: 150px;
    height: auto;
  }
  .client-images img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
.menu-clients {
  display:none;
}
.content-heading {
  text-transform: uppercase;
  font-family: $font-koyu;
  font-size: 14px;
}
.heading-section {
  float: left;
  width: 100%;
  height: 250px;
  &.yellow {
    background-color: $yellow;
  }
  &.green {
    background-color: $green;
  }
}
.after-heading-section {
  float: left;
  width: 100%;
  position: relative;
  top: -75px;
}
.add-shade {
  -webkit-box-shadow: 0 0 0 rgba(193, 192, 192, .75);
  -moz-box-shadow: 0 0 0 rgba(193, 192, 192, .75);
  box-shadow: 0 0 0 rgba(193, 192, 192, .75);
  &:first-child {
    -webkit-box-shadow: 0 3px 5px rgba(193, 192, 192, .75);
    -moz-box-shadow: 0 3px 5px rgba(193, 192, 192, .75);
    box-shadow: 0 3px 5px rgba(193, 192, 192, .75);
  }
}
.active-contract-image {
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  border: 10px solid #d8d8d8;
  box-sizing: border-box;
}
.company-info {
  margin-top: 50px;
}
.last-section {
  min-height: 980px;
}
.to-top {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 500;
  img {
    display:block;
    width: 30px;
    margin-left: -15px;
    @include transform(rotate(90deg));
  }
}
.triangle-overflow {
  position: absolute;
  bottom: -600px;
  left: 0;
  z-index: 250;
  height: 600px;
  width: 100%;
  overflow: hidden;
  .footer-line,
  .top-layer-triangle,
  .triangle-foot {
    position: absolute;
  }
  .triangle-foot {
    bottom: -600px;
    right: -700px;
    height: 990px;
    width: 1210px;
    background-color: #56C0A8;
    @include transform(rotate(-45deg));
    .top-layer-triangle {
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: $green;
      z-index: 100;
      @include box-shadow(1px, 3px, 2px, rgba(0,0,0,.15));
    }
    .footer-line {
      z-index: 50;
      top: 237px;
      left: 31%;
      width: 750px;
      font-size: 19px;
      padding: 0 0 5px 185px;
      color: $green;
      border-bottom: 3px solid $green;
      @include transform(rotate(45deg));
      &.two {
        width: 300px;
        top: 253px;
        left: 45%;
        padding-left: 0;
      }
    }
  }
  .copy-foot {
    .foot-head {
      font-family: $font-koyu;
      font-size: 20px;
    }
    p {
      margin-top: 25px;
    }
  }
}




