/* Tablet at #{$mobile-break}
/*===========================================>
*/
@media (min-width: $mobile-break) {
  .hero-heading {
    &.opening-head {
      top: 69%;
      font-size: 31px;
    }
    &.opening-sub {
      top: 77.8%;
      font-size: 20px;
    }
    &.opening-sub-sub {
      top: 82.8%;
      text-transform: none;
    }
    .mobile-hide {
      display: inline;
    }
  }
  .single-client {
    width: 100%;
    display:none;
    margin: 50px 0;
    &.active {
      display: block;
    }
  }
  .menu-clients {
    display: block;
    margin-top: 50px;
    margin-left: 4.1616161616%;
  }
  .client-menu-item {
    opacity: 0.25;
    float: left;
    clear: both;
    margin-bottom: 25px;
    width: 100%;
    cursor: pointer;
    position: relative;
    &:hover {
      opacity: 1;
    }
    &:after {
      opacity: 0;
      content:"";
      display: block;
      position: absolute;
      top: 8px;
      left: -10px;
      background-image: url(images/pijl.svg);
      width: 16px;
      height:26px;
      @include transition(all, .5s, ease-out, .5s);
      @include transform(translate(10px,0));
    }
    &.active {
      opacity: 1;
      &:after {
        opacity: 1;
        @include transform(translate(0,0));
      }
    }
    .client-menu-title {
      margin-top: 0;
      font-size: 16px;
      font-family: $font-koyu;
    }
    .client-menu-image {
      height: 50px;
      width: auto;
    }

  }
  .content-holder,
  .special-header-red {
    top: 100%;
  }
  .clients {
    .heading-row {
      text-align: left;
    }
    .single-client {
      width: auto;
      margin: auto;
    }
    .client-person {
      margin: 0;
    }
  }
  .triangle-open {
    height: auto;
    .triangle-img {
      display: block;
    }
    .r-icon {
      display: none;
    }
  }
  .company-info {
    margin-top: 180px;
  }
  .triangle-overflow {
    bottom: -140px;
    .triangle-foot {
      .footer-line {
        top: 256px;
        left: 26%;
        width: 755px;
        font-size: 19px;
        padding: 0 0 5px 167px;
        &.two {
          top: 279px;
          left: 42%;
        }
      }
    }
  }
}