/* Big screen at #{$bs-break}
/*===========================================>
*/
@media (min-width: $bs-break) {
  .main-head {
    @include transform(translate(0, 0));
  }
  .menu-head {
    display: block;
  }
  .special-header-block {
    width: 16.66666667%;
    display: block;
  }
}
@media (min-width: 1400) {
  .hero-heading {
    &.opening-head {
      top: 70%;
      font-size: 31px;
    }
    &.opening-sub {
      top: 76.5%;
      font-size: 20px;
    }
    &.opening-sub-sub {
      top: 80.5%;
    }
    .mobile-hide {
      display: inline;
    }
  }
  .triangle-open {
    .triangle-img {
      margin-top: -21%;
    }
  }
}