/* Device specific
/*===========================================>
*/
@media (max-width: $mobile-break) {
}
@media (min-width: $mobile-break+1) and (max-width: $tablet-break+-1) {
}
@media (min-width: $tablet-break) and (max-width: $desk-break+-1) {
}
@media (min-width: $desk-break) and (max-width: $bs-break+-1) {

}
@media (min-width: $bs-break) {

}
@media (max-width: 480px) {

}
@media (max-width: 320px) {

}
@media (min-height: 1000px) {
  .main-head {
    top: 30%;
  }
}