body{
    background-color: #FBFAFA;
}

.contentwrapper {
    width: 1200px;
    margin: 0 auto;
}

.header{
    width: 100%;
}

.row{
    clear: both;
    margin: 20px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.menu{
    list-style: none;
}

.menu li{
    width: 80px;
    height: 55px;
    display: block;
    float: left;
    padding-top: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    margin-right: 5px;
}

.logo{
    float: right;
    width: 25%;
    margin-top: 15px;
}

.logo img{
    width: 100%;
}

.menu li:hover{
background-color: #FFDD00;
transition: .5s all 0 linear;
}

.menu a{
    text-decoration: none;
    color: #656565;
    background-image: url(Sprite.svg);
    height: 35px; 
    display: block;
}

.menu .home a{ 
    background-position: 0 0;
    width: 60px;
    margin: 0 auto;
}

.menu .home a:hover{
    background-position: 0px 35px;
}


.menu .agenda a{ 
    background-position: -60px .75px;
    width: 60px;
    margin: 0 auto;
}

.menu .agenda a:hover{
    background-position: -60px 35px;
}

.menu .nieuws a{ 
    background-position: -120px 0px;
    width: 60px;
    margin: 0 auto;
}

.menu .nieuws a:hover{
    background-position: -120px 35px;
}

.menu .coupons a{ 
    background-position: -180px 0px;
    width: 60px;
    margin: 0 auto;
}

.menu .coupons a:hover{
    background-position: -180px 35px;
}

.menu .partners a{ 
    background-position: -238px 0px;
    width: 60px;
    margin: 0 auto;
}

.menu .partners a:hover{
    background-position: -238px 35px;
}

.homeslider{
    height: 500px;
    background-color: #FFDD00;
}

.nieuwsblok{
    width: 60%;
    height: 600px;
    float:left;
    display: block;
    margin-right: 20px;
    padding: 10px;
    background-color: #5BC0C8;
}

.imagebox img{
    width: 100%;
    height: auto;
    margin-top: 80px;
}