/*!
Theme Name: PPREP-one-page
Theme URI: http://pprep.co
Author: Paul Beukelman
Author URI: http://pprep.co
Description: Bootstrapped, SASS style.
Version: 1.0
*/
/* fonts
/*===========================================>
*/
@font-face {
  font-family: 'futurakoyu';
  src: url("font/futura_koyu-webfont.eot");
  src: url("font/futura_koyu-webfont.eot?#iefix") format("embedded-opentype"), url("font/futura_koyu-webfont.woff2") format("woff2"), url("font/futura_koyu-webfont.woff") format("woff"), url("font/futura_koyu-webfont.ttf") format("truetype"), url("font/futura_koyu-webfont.svg#futurakoyu") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'letter_gothicnormal';
  src: url("font/letter_gothic_normal-webfont.eot");
  src: url("font/letter_gothic_normal-webfont.eot?#iefix") format("embedded-opentype"), url("font/letter_gothic_normal-webfont.woff2") format("woff2"), url("font/letter_gothic_normal-webfont.woff") format("woff"), url("font/letter_gothic_normal-webfont.ttf") format("truetype"), url("font/letter_gothic_normal-webfont.svg#letter_gothicnormal") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Global
/*===========================================>
*/
/* line 29, sass/_3-global.scss */
body,
html,
.fixed-lines {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: "Lato", verdana, sans-serif;
  font-size: 14px;
  color: #73868f;
}

/* line 42, sass/_3-global.scss */
.fixed-lines .container {
  position: relative;
  height: 100%;
}

/* line 47, sass/_3-global.scss */
p {
  line-height: 175%;
}

/* line 50, sass/_3-global.scss */
.koyu {
  font-family: "futurakoyu", verdana, serif !important;
}

/* line 53, sass/_3-global.scss */
.lato {
  font-family: "Lato", verdana, sans-serif !important;
}

/* line 56, sass/_3-global.scss */
.gothic {
  font-family: "letter_gothicnormal", georgia, sans-serif !important;
}

/* line 59, sass/_3-global.scss */
.client-menu-item,
.transiton-speed,
.main-head,
.nav-container li a,
.nav-container li a:before,
.nav-container li a:after {
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

/* line 63, sass/_3-global.scss */
.modal {
  z-index: 1600;
}

/* line 66, sass/_3-global.scss */
.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

/* line 69, sass/_3-global.scss */
.modal-header {
  background-color: #00aa96;
}

/* line 72, sass/_3-global.scss */
.modal-title {
  font-family: "futurakoyu", verdana, serif;
  font-size: 25px;
  color: #FFF;
}

/* line 77, sass/_3-global.scss */
.main-head {
  position: fixed;
  top: 32%;
  left: 0;
  right: 0;
  z-index: 1500;
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
/* line 85, sass/_3-global.scss */
.main-head .nav-container {
  padding-left: 0;
}

/* line 90, sass/_3-global.scss */
.nav-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 95, sass/_3-global.scss */
.nav-container li {
  margin: 0 0 20px 0;
}
/* line 97, sass/_3-global.scss */
.nav-container li a {
  color: #73868f;
  padding: 3px 0 0 30px;
  position: relative;
}
/* line 102, sass/_3-global.scss */
.nav-container li a:before, .nav-container li a:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
}
/* line 113, sass/_3-global.scss */
.nav-container li a:after {
  border: 3px solid #73868f;
}
/* line 116, sass/_3-global.scss */
.nav-container li a:before {
  z-index: 5;
  background-color: #73868f;
  -webkit-transition: all 0.5s ease-out 0.25s;
  -moz-transition: all 0.5s ease-out 0.25s;
  -ms-transition: all 0.5s ease-out 0.25s;
  -o-transition: all 0.5s ease-out 0.25s;
  transition: all 0.5s ease-out 0.25s;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 122, sass/_3-global.scss */
.nav-container li a:focus {
  outline: none;
  text-decoration: none;
}
/* line 127, sass/_3-global.scss */
.nav-container li.active a:before {
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 133, sass/_3-global.scss */
.nav-container #client-scroll a:before {
  background-color: #eb5b5b;
}
/* line 136, sass/_3-global.scss */
.nav-container #client-scroll a:after {
  border-color: #eb5b5b;
}
/* line 143, sass/_3-global.scss */
.nav-container #active-scroll a:before {
  background-color: #fcc543;
}
/* line 146, sass/_3-global.scss */
.nav-container #active-scroll a:after {
  border-color: #fcc543;
}
/* line 153, sass/_3-global.scss */
.nav-container #pprep-scroll a:before {
  background-color: #00aa96;
}
/* line 156, sass/_3-global.scss */
.nav-container #pprep-scroll a:after {
  border-color: #00aa96;
}
/* line 164, sass/_3-global.scss */
.nav-container li.section-1-white a,
.nav-container li.section-2-white a,
.nav-container li.section-3-white a {
  color: #FFF;
}
/* line 169, sass/_3-global.scss */
.nav-container li.section-1-white.active a:after,
.nav-container li.section-2-white.active a:after,
.nav-container li.section-3-white.active a:after {
  border: 2px solid #FFF !important;
}

/* line 177, sass/_3-global.scss */
.menu-head {
  display: none;
  font-family: "futurakoyu", verdana, serif;
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 20px;
  color: #00aa96;
  width: 100%;
  padding: 10px 0 0 0;
  border-top: 1px solid #00aa96;
  border-bottom: 3px solid #00aa96;
}

/* line 190, sass/_3-global.scss */
.hero-col,
.hero-container {
  height: 100%;
  position: relative;
}

/* line 195, sass/_3-global.scss */
.nav-container {
  width: 150px;
  position: fixed;
  left: 50%;
  top: 0;
  margin: 0 0 0 -584px;
}

/* line 202, sass/_3-global.scss */
.hero-heading {
  float: left;
  clear: both;
  margin-top: 10px;
  z-index: 100;
  position: absolute;
}
/* line 208, sass/_3-global.scss */
.hero-heading.opening-head {
  top: 330px;
  font-size: 20px;
  border-bottom: 3px solid #00aa96;
  width: 100%;
}
/* line 214, sass/_3-global.scss */
.hero-heading.opening-sub {
  top: 390px;
  font-size: 15px;
  margin-left: 5.5%;
}
/* line 219, sass/_3-global.scss */
.hero-heading.opening-sub-sub {
  top: 435px;
  margin-left: 11%;
  padding-bottom: 4px;
  border-bottom: 3px solid #00aa96;
  width: 89%;
  text-transform: capitalize;
}
/* line 227, sass/_3-global.scss */
.hero-heading .mobile-hide {
  display: none;
}

/* line 231, sass/_3-global.scss */
.triangle-open {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  float: left;
  width: 100%;
  height: 300px;
}
/* line 239, sass/_3-global.scss */
.triangle-open .triangle-img {
  display: none;
  float: right;
  width: 100%;
  height: auto;
  margin-top: -25%;
}
/* line 246, sass/_3-global.scss */
.triangle-open .r-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  margin: -50px 0 0 -30px;
}

/* line 254, sass/_3-global.scss */
.special-header-red, .special-header-block, .content-holder {
  position: absolute;
  top: 590px;
  left: 0;
  height: 200px;
  width: 100%;
  z-index: 125;
  background-color: #eb5b5b;
}

/* line 263, sass/_3-global.scss */
.special-header-block {
  display: none;
  z-index: 300;
  width: initial;
}

/* line 269, sass/_3-global.scss */
.content-holder {
  z-index: 250;
  background-color: transparent;
  clear: both;
  float: left;
  height: auto;
}

/* line 277, sass/_3-global.scss */
.heading-box {
  color: #FFF;
  height: 200px;
}
/* line 280, sass/_3-global.scss */
.heading-box .heading {
  font-family: "futurakoyu", verdana, serif;
  border-bottom: 3px solid #FFF;
  font-size: 31px;
  padding-bottom: 10px;
  margin-top: 50px; 
  height: 63px;

}

/* line 288, sass/_3-global.scss */
.intro-section {
  padding-top: 10px;
}

/* line 292, sass/_3-global.scss */
.clients {
  padding: 40px 15px;
}
/* line 294, sass/_3-global.scss */
.clients .single-client {
  width: 95%;
  margin: 50px 2.5%;
}
/* line 298, sass/_3-global.scss */
.clients .heading-row {
  text-align: center;
}
/* line 302, sass/_3-global.scss */
.clients .client-photo {
  width: auto;
  height: 100px;
}
/* line 306, sass/_3-global.scss */
.clients .client-link {
  color: #73868f;
  text-decoration: none;
}
/* line 309, sass/_3-global.scss */
.clients .client-link:hover {
  text-decoration: underline;
}
/* line 313, sass/_3-global.scss */
.clients .client-title {
  font-size: 14px;
  font-family: "futurakoyu", verdana, serif;
  padding-bottom: 10px;
  border-bottom: 3px solid #73868f;
  margin-top: 0;
}
/* line 320, sass/_3-global.scss */
.clients .client-quote {
  font-size: 20px;
  font-family: "Lato", verdana, sans-serif;
  margin: 17px 0 16px 0;
}
/* line 325, sass/_3-global.scss */
.clients .client-person {
  font-size: 15px;
  font-family: "Lato", verdana, sans-serif;
  margin: 0 0 25px 0;
}
/* line 330, sass/_3-global.scss */
.clients .client-logo-col {
  height: 251px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 335, sass/_3-global.scss */
.clients .client-logo-col img {
  width: 150px;
  height: auto;
}
/* line 339, sass/_3-global.scss */
.clients .client-images img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* line 345, sass/_3-global.scss */
.menu-clients {
  display: none;
}

/* line 348, sass/_3-global.scss */
.content-heading {
  text-transform: uppercase;
  font-family: "futurakoyu", verdana, serif;
  font-size: 14px;
  padding-top: 50px;
}

/* line 353, sass/_3-global.scss */
.heading-section {
  float: left;
  width: 100%;
  height: 250px;
}
/* line 357, sass/_3-global.scss */
.heading-section.yellow {
  background-color: #fcc543;
}
/* line 360, sass/_3-global.scss */
.heading-section.green {
  background-color: #00aa96;
}

/* line 364, sass/_3-global.scss */
.after-heading-section {
  float: left;
  width: 100%;
  position: relative;
  top: -75px;
}

/* line 370, sass/_3-global.scss */
.add-shade {
  -webkit-box-shadow: 0 0 0 rgba(193, 192, 192, 0.75);
  -moz-box-shadow: 0 0 0 rgba(193, 192, 192, 0.75);
  box-shadow: 0 0 0 rgba(193, 192, 192, 0.75);
}
/* line 374, sass/_3-global.scss */
.add-shade:first-child {
  -webkit-box-shadow: 0 3px 5px rgba(193, 192, 192, 0.75);
  -moz-box-shadow: 0 3px 5px rgba(193, 192, 192, 0.75);
  box-shadow: 0 3px 5px rgba(193, 192, 192, 0.75);
}

/* line 380, sass/_3-global.scss */
.active-contract-image {
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  border: 10px solid #d8d8d8;
  box-sizing: border-box;
}

/* line 387, sass/_3-global.scss */
.company-info {
  margin-top: 50px;
    
}

/* line 390, sass/_3-global.scss */
.last-section {
  min-height: 980px;
}

/* line 393, sass/_3-global.scss */
.to-top {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 500;
}
/* line 398, sass/_3-global.scss */
.to-top img {
  display: block;
  width: 30px;
  margin-left: -15px;
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 405, sass/_3-global.scss */
.triangle-overflow {
  position: absolute;
  bottom: -600px;
  left: 0;
  z-index: 250;
  height: 600px;
  width: 100%;
  overflow: hidden;
}
/* line 413, sass/_3-global.scss */
.triangle-overflow .footer-line,
.triangle-overflow .top-layer-triangle,
.triangle-overflow .triangle-foot {
  position: absolute;
}
/* line 418, sass/_3-global.scss */
.triangle-overflow .triangle-foot {
  bottom: -600px;
  right: -700px;
  height: 990px;
  width: 1210px;
  background-color: #56C0A8;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 425, sass/_3-global.scss */
.triangle-overflow .triangle-foot .top-layer-triangle {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #00aa96;
  z-index: 100;
  -webkit-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
}
/* line 434, sass/_3-global.scss */
.triangle-overflow .triangle-foot .footer-line {
  z-index: 50;
  top: 237px;
  left: 31%;
  width: 750px;
  font-size: 19px;
  padding: 0 0 5px 185px;
  color: #00aa96;
  border-bottom: 3px solid #00aa96;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 444, sass/_3-global.scss */
.triangle-overflow .triangle-foot .footer-line.two {
  width: 300px;
  top: 253px;
  left: 45%;
  padding-left: 0;
}
/* line 453, sass/_3-global.scss */
.triangle-overflow .copy-foot .foot-head {
  font-family: "futurakoyu", verdana, serif;
  font-size: 20px;
}
/* line 457, sass/_3-global.scss */
.triangle-overflow .copy-foot p {
  margin-top: 25px;
}

/* Tablet at 767px
/*===========================================>
*/
@media (min-width: 767px) {
  /* line 6, sass/_4-mobile.scss */
  .hero-heading.opening-head {
    top: 69%;
    font-size: 31px;
  }
  /* line 10, sass/_4-mobile.scss */
  .hero-heading.opening-sub {
    top: 77.8%;
    font-size: 20px;
  }
  /* line 14, sass/_4-mobile.scss */
  .hero-heading.opening-sub-sub {
    top: 82.8%;
    text-transform: none;
  }
  /* line 18, sass/_4-mobile.scss */
  .hero-heading .mobile-hide {
    display: inline;
  }

  /* line 22, sass/_4-mobile.scss */
  .single-client {
    width: 100%;
    display: none;
    margin: 50px 0;
  }
  /* line 26, sass/_4-mobile.scss */
  .single-client.active {
    display: block;
  }

  /* line 30, sass/_4-mobile.scss */
  .menu-clients {
    display: block;
    margin-top: 50px;
    margin-left: 4.1616161616%;
  }

  /* line 35, sass/_4-mobile.scss */
  .client-menu-item {
    opacity: 0.25;
    float: left;
    clear: both;
    margin-bottom: 25px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  /* line 43, sass/_4-mobile.scss */
  .client-menu-item:hover {
    opacity: 1;
  }
  /* line 46, sass/_4-mobile.scss */
  .client-menu-item:after {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: -10px;
    background-image: url(images/pijl.svg);
    width: 16px;
    height: 26px;
    -webkit-transition: all 0.5s ease-out 0.5s;
    -moz-transition: all 0.5s ease-out 0.5s;
    -ms-transition: all 0.5s ease-out 0.5s;
    -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
    -moz-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  /* line 59, sass/_4-mobile.scss */
  .client-menu-item.active {
    opacity: 1;
  }
  /* line 61, sass/_4-mobile.scss */
  .client-menu-item.active:after {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  /* line 66, sass/_4-mobile.scss */
  .client-menu-item .client-menu-title {
    margin-top: 0;
    font-size: 16px;
    font-family: "futurakoyu", verdana, serif;
  }
  /* line 71, sass/_4-mobile.scss */
  .client-menu-item .client-menu-image {
    height: 50px;
    width: auto;
  }

  /* line 77, sass/_4-mobile.scss */
  .content-holder,
  .special-header-red,
  .special-header-block,
  .content-holder {
    top: 100%;
  }

  /* line 82, sass/_4-mobile.scss */
  .clients .heading-row {
    text-align: left;
  }
  /* line 85, sass/_4-mobile.scss */
  .clients .single-client {
    width: auto;
    margin: auto;
  }
  /* line 89, sass/_4-mobile.scss */
  .clients .client-person {
    margin: 0;
  }

  /* line 93, sass/_4-mobile.scss */
  .triangle-open {
    height: auto;
  }
  /* line 95, sass/_4-mobile.scss */
  .triangle-open .triangle-img {
    display: block;
  }
  /* line 98, sass/_4-mobile.scss */
  .triangle-open .r-icon {
    display: none;
  }

  /* line 102, sass/_4-mobile.scss */
  .company-info {
    margin-top: 100px;
  }

  /* line 105, sass/_4-mobile.scss */
  .triangle-overflow {
    bottom: -140px;
  }
  /* line 108, sass/_4-mobile.scss */
  .triangle-overflow .triangle-foot .footer-line {
    top: 256px;
    left: 26%;
    width: 755px;
    font-size: 19px;
    padding: 0 0 5px 167px;
  }
  /* line 114, sass/_4-mobile.scss */
  .triangle-overflow .triangle-foot .footer-line.two {
    top: 279px;
    left: 42%;
  }
}
/* Tablet at 970px
/*===========================================>
*/
/* Desk at 992px
/*===========================================>
*/
/* Big screen at 1200px
/*===========================================>
*/
@media (min-width: 1200px) {
  /* line 5, sass/_7-hd.scss */
  .main-head {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 8, sass/_7-hd.scss */
  .menu-head {
    display: block;
  }

  /* line 11, sass/_7-hd.scss */
  .special-header-block {
    width: 16.66666667%;
    display: block;
  }
}
@media (min-width: 1400) {
  /* line 18, sass/_7-hd.scss */
  .hero-heading.opening-head {
    top: 70%;
    font-size: 31px;
  }
  /* line 22, sass/_7-hd.scss */
  .hero-heading.opening-sub {
    top: 76.5%;
    font-size: 20px;
  }
  /* line 26, sass/_7-hd.scss */
  .hero-heading.opening-sub-sub {
    top: 80.5%;
  }
  /* line 29, sass/_7-hd.scss */
  .hero-heading .mobile-hide {
    display: inline;
  }

  /* line 34, sass/_7-hd.scss */
  .triangle-open .triangle-img {
    margin-top: -21%;
  }
}
/* Device specific
/*===========================================>
*/
@media (min-height: 1000px) {
  /* line 23, sass/_8-device-specific.scss */
  .main-head {
    top: 30%;
  }
}
